<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parithi.suche">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SucheApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.FeedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="81efea2ff95ea2932b34155814131a6ba7fe02d2" />

        <activity
            android:name=".activities.DetailTweetActivity"
            android:label="@string/title_activity_detail_tweet"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
